body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

h1 {
  position: absolute;
  top: 20px;
  color: white;
}

#gameArea {
  position: relative;
}

canvas {
  border: 3px solid #fff;
  background-color: black;
}